<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='apple-touch-icon.png') }}" rel="apple-touch-icon" sizes="180x180">
    <link href="{{ url_for('static', filename='favicon-32x32.png') }}" rel="icon" sizes="32x32" type="image/png">
    <link href="{{ url_for('static', filename='favicon-16x16.png') }}" rel="icon" sizes="16x16" type="image/png">
    <link href="{{ url_for('static', filename='site.webmanifest') }}" rel="manifest">
    <link href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet" type="text/css">

    <title>COMING SOON</title>
</head>
<body>
<h1>TA-WEB<br><span>Coming soon</span></h1>
</body>
</html>